<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<section>
  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">
      <a class="navbar-brand" href="/home">
        <img src="../../assets/img/22222.png" class="navbar-logo" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" (click)="toggleVertical()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [class.show]="isVertical">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home.es">Inicio</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="https://www.youtube.com/@AxlGamester">Youtube</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mods.es">Mods</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/galeria.es">Galería</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/donacion.es">Donación</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/acerca.es">Acerca</a>
          </li>        
          <li class="nav-item ">
            <a class="nav-link" href="/essesion.es">Iniciar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>

<section class="sesion">
  <div id="contenedor">
    <div id="central">
      <div id="login">
        <div class="titulo">
          INICIO DE SESIÓN
        </div>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div>
            <label style="color:white" for="email">Correo Electrónico</label>
            <input id="email" formControlName="email" type="email" required />
            <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
              <small style="color:rgb(255, 0, 0); text-align:center;" *ngIf="form.get('email')?.errors?.['required']">El correo es obligatorio.</small>
              <small style="color:rgb(255, 0, 0); text-align:center;" *ngIf="form.get('email')?.errors?.['email']">Correo no válido.</small>
            </div>
          </div>
      
          <div>
            <label style="color:white" for="password">Contraseña</label>
            <input id="password" formControlName="password" type="password" required />
            <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
              <small style="color:rgb(255, 0, 0)" *ngIf="form.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
              <small style="color:rgb(255, 0, 0)" *ngIf="form.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres.</small>
            </div>
          </div>
      
          <button type="submit" [disabled]="form.invalid">Iniciar Sesión</button>
          <br>
          <div style="color:rgb(255, 0, 0)" *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
          <br>
          <div style="color:green; text-align:center;"*ngIf="successMessage" class="success">{{ successMessage }}</div>
        </form>

        <div class="pie-form">
          <a href="#">¿Perdiste tu contraseña?</a>
          <a href="/esregistro.es">¿No tienes Cuenta? Regístrate</a>
        </div>
      </div>
      <div class="inferior">
        <a href="#">Volver</a>
      </div>
    </div>
  </div>
</section>

<section>
  <footer>
    <div class="footer-content"><br>
      <h5>AXL GAMESTER</h5><br>
      <div class="social-icons">
        <a href="https://www.facebook.com/profile.php?id=61557729908419" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.tiktok.com/@axlgamester" target="_blank"><i class="fab fa-tiktok"></i></a>
        <a href="https://www.instagram.com/axl_gamester/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/@AxlGamester" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://discord.gg/X78yUfMenP" target="_blank"><i class="fab fa-discord"></i></a>
        <a href="https://www.twitch.tv/axlgamester/" target="_blank"><i class="fab fa-twitch"></i></a>
      </div><br>
      <p class="card-text">Las imágenes que se muestran en este sitio web no pertenecen a AxlGamester, todo el crédito a sus respectivos dueños.</p>
      <br>
    </div>
  </footer>
</section>
