
<link rel="icon" type="image/png" href="assets/icon.png">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<body>
<div id="particles-js"></div> <!-- Contenedor de partículas -->

<section>
  <section>
    <app-nav></app-nav> <!-- Ensure this tag is correct -->    
  </section>
<audio id="myAudio" loop>
  <source src="../../assets/sound/sound.mp3" type="audio/mpeg">
  Tu navegador no soporta el elemento de audio.
</audio>
<button class="audio-button" (click)="toggleAudio()">
  <img [src]="audioIconSrc" alt="Audio">
</button>

<div id="video-container">
  <video id="video" playsinline muted loop autoplay onclick="this.play();" poster="../../assets/img/lol.png">
    <source src="../../assets/img/2.mp4" type="video/mp4">
  </video>
  <section>
    <div class="g">Bienvenido a la página web de 
      <br>AXL GAMESTER
      <div>
        
        <a href="https://www.youtube.com/@AxlGamester" Target="_blank">
          <button class="eb">
            <i class="fab fa-youtube"></i>
            Canal de Youtube</button>

        </a>
      </div>
    </div>
  </section>
</div>
</section>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2524200979329442"
     crossorigin="anonymous"></script>
<!-- Gamester -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2524200979329442"
     data-ad-slot="3498720631"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="sec">
  <br><br><br><br><br><br><br><br> 
  <h1 class="g">DESCUBRE ALGUNOS MODS HECHOS POR AXL GAMESTER</h1>
  <br><br> <br><br> 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/img/2.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">BABY SHARK</h5>
            <p class="card-text">God of War II</p>
            <div>
              <a href="/mods.es" Target="_blank">
                <button class="ebnn">Ver más</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/img/DOMINUS.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">DOMINUS</h5>
            <p class="card-text">God of War I</p>
            <div>
              <a href="/mods.es" Target="_blank">
                <button class="ebnn">Ver más</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/img/ath.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">GHOST ATHENA</h5>
            <p class="card-text">God of War II</p>
            <div>
              <a href="/mods.es" Target="_blank">
                <button class="ebnn">Ver más</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/img/go.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">GOD ARMOR GOLD</h5>
            <p class="card-text">God of War II</p>
            <div>
              <a href="/mods.es" Target="_blank">
                <button class="ebnn">Ver más</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/img/kratosblue.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">BLUE KRATOS</h5>
            <p class="card-text">God of War I</p>
            <div>
              <a href="/mods.es" Target="_blank">
                <button class="ebnn">Ver más</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/img/KRATOS REMASTERED.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">KRATOS REMASTERED</h5>
            <p class="card-text">God of War I</p>
            <div>
              <a href="/mods.es" Target="_blank">
                <button class="ebnn">Ver más</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</section>
<section class="fb">
  <!-- Otro contenido de la sección -->
  <div class="cc">
    <h2 >DESCARGA GOD OF WAR® AXL EDITION Ver.0.1<br> CON NUEVAS SKINS, ARMAS, MODELOS, ETC. GRATIS: </h2>
    <section>
      <div>
        <a href="https://www.youtube.com/watch?v=z9IIZ91xxKg" Target="_blank">
          <button class="ebnn">Descarga</button>
        </a>
      </div>
    </section>
  </div>
</section>
<section class="side-by-side-section">
  <div class="image-container">
    <img src="../../assets/img/menu1.webp" alt="Imagen">
    </div>
  <div class="text-container">
    <p style="color:red;">ACERCA DE MI: </p><p>SOY UN ESTUDIANTE DE PROGRAMACIÓN QUE INTENTA CUMPLIR SUS SUEÑOS, ASÍ COMO TAMBIEN, COMPARTIR LO QUE DISEÑO, CREO Y CONSTRUYO, ME ENCANTA LA PROGRAMACIÓN, EL DISEÑO Y LA EDICIÓN DE CONTENIDO DIGITAL.</p>
    <button class="ebnn" target="_blank" id="enviarCorreo">Enviar correo</button>    </div>
</section>
<app-footer></app-footer>
</body>
