  <app-nav></app-nav> <!-- Ensure this tag is correct -->
  <section class="side-by-side-section">
    <div class="image-container">
      <img src="../../assets/img/menu1.webp" alt="Imagen">
      </div>
    <div class="text-container">
      <p style="color:red;">ACERCA DE MI: </p><p>SOY UN ESTUDIANTE DE PROGRAMACIÓN QUE INTENTA CUMPLIR SUS SUEÑOS, ASÍ COMO TAMBIEN, COMPARTIR LO QUE DISEÑO, CREO Y CONSTRUYO, ME ENCANTA LA PROGRAMACIÓN, EL DISEÑO Y LA EDICIÓN DE CONTENIDO DIGITAL.</p>
      <button class="ebnn" target="_blank" id="enviarCorreo">Enviar correo</button>    </div>
  </section>
<app-footer></app-footer>