.usuario-dropdown {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
}

.usuario-dropdown p {
  font-size: 14px;
  margin: 0 0 10px;
}

.btn-logout {
  background-color: #ff4b5c;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-logout:hover {
  background-color: #ff1f3f;
}
