<section>
  <app-nav></app-nav>
  <div class="usuario-container">
    <h1>Perfil de Usuario</h1>
  </div>
  <div class="usuario-dropdown">
    <img src="../../assets/img/5.gif" alt="Usuario" class="usuario-icon" />
    <p>Usuario: "{{ email }}"</p>
    <!-- Botón para acceder al panel de admin (solo si es admin) -->
        <button *ngIf="isAdmin" class="admin-button" (click)="goToAdmin()">
          <i class="fas fa-cog"></i>
          Acceder al panel de admin
        </button>

        <button class="logout-button" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i>
          Cerrar Sesión
        </button>
    <button (click)="deleteOwnAccount()" class="btn-delete">Eliminar mi cuenta</button>
  </div>
</section>
<app-footer></app-footer>