
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <title>God of War MODS</title>
</head>
<body>

    <section class="mods-container">
        <app-nav></app-nav>

        <div class="mods">
            God of War MODS
        </div>
        <img class="background-gif" src="../../../assets/img/z2.gif" alt="Background">
        <app-card-list></app-card-list>
        <app-footer></app-footer>
        
    </section>

</body>
