<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <title>God of War MODS</title>
</head>
<body>

    <section class="mods-container">
        <app-nav></app-nav>

        <div class="mods">
            God of War MODS
        </div>
        <img class="background-gif" src="../../../assets/img/z2.gif" alt="Background">
        <app-card-list></app-card-list>
        <footer>
            <div class="footer-content"><br>
              <h5>AXL GAMESTER</h5><br>
              <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=61557729908419" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.tiktok.com/@axlgamester" target="_blank"><i class="fab fa-tiktok"></i></a>
                <a href="https://www.instagram.com/axl_gamester/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/@AxlGamester" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="https://discord.gg/X78yUfMenP" target="_blank"><i class="fab fa-discord"></i></a>
                <a href="https://www.twitch.tv/axlgamester/" target="_blank"><i class="fab fa-twitch"></i></a>
              </div><br>
              <p class="card-text">Las imágenes que se muestran en este sitio web no pertenecen a AxlGamester, todo el crédito a sus respectivos dueños.</p>
              <br>
            </div>
          </footer>
    </section>

</body>
</html>
