footer {
    background-color: #000000;
    color: #fff;
    font-family: 'god';
    text-align: center;
  }
  @media (max-width: 768px) {
    footer {
      padding-bottom: 60px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .footer-content {
    display: inline;
    justify-content: center;
    align-items: center;
  }
  .footer-content p {
    flex: 1;
  }
  .social-icons a {
    color: #ff0000;
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
  }
  @font-face {
    font-family: 'god';
    src: url('../../assets/font/GODOFWAR.TTF') format('truetype');
  }