<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!-- Enlaces para importar la fuente Bebas Neue desde Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Fondo de la página -->
    <div class="background">
        

        <img src="assets/img/home.gif" alt="Background" class="background-gif">
        
        <div id="particles-js"></div> <!-- Contenedor de partículas -->
        <div class="content">
            <div class="centered-text">
                <a style="font-size: 6vw;">I'm the Fucking</a>
                
            </div>
            
            <img src="assets/img/GOW LOGO.png" alt="GOW Logo" class="logo-image">
            <!-- Imagen PNG por encima del GIF -->
    
            <p></p>
            <!-- Selector de idioma -->
            <select name="language" id="language" class="language-selector" (change)="saveLanguage($event)">
                <option value="none">Select Language</option>
                <option value="es">Español</option>
                <option value="en">English</option>
            </select><br><br>
            
            <!-- Botón de entrar -->
            <button id="enterButton" class="enter-button" (click)="checkLanguage()">Entry</button>
            <a href="https://www.youtube.com/channel/UCU6JmBJ7J8WeuwBOrJmeMKA">


                <img src="assets/img/22222.png" alt="Image" class="footer-image">
            </a>
        </div>
        
        <!-- Footer -->
        <footer>


            <div>
                <p class="centered-textt">Axl Gamester</p>
            </div>
            


                    
        </footer>
        
    </div>

</body>
</html>